extends base

block content
    main
        for post in page.posts.toArray()
            section
                a(href= url_for(post.path))
                    h2 #{post.title}
                    time(datetime= date(post.date, 'YYYY-MM-DDTHH:mm:ssZ'),pubdate= 'pubdate')  #{date(post.date, config.dateformat)}
        if page.total > 1
            p
                if page.prev
                    a(href= url_for(page.prev_link)) ← Newer Posts
                else
                    a ← Newer Posts
                if page.next
                    a(href= url_for(page.next_link)) Older Posts →
                else 
                    a Older Posts →