doctype html
html(lang= config.language)
    head
        include partial/head.pug
    body
        header
            include partial/header.pug
        block content
        footer
            include partial/footer.pug