doctype html
html(lang= config.language)
    head
        include partial/head
    body
        header
            include partial/header
        block content
        footer
            include partial/footer