extends base

block content
    main
        article
            h1 #{page.title}
            time(datetime= date(page.date, 'YYYY-MM-DDTHH:mm:ssZ'),pubdate= 'pubdate') #{date(page.date, config.dateformat)}
            span
                each tag in page.tags.toArray()
                    a -#{tag.name}-
            p 
                br
            != page.content