p Copyright &copy; 2016 #[a(href= config.url) #{config.author}] All Rights Reserved.
p Powered by #[a(href= 'https://hexo.io') Hexo] and Theme by #[a(href= 'https://github.com/lintmx/hexo-theme-tiny') Tiny] Hosted on #[a(href= theme.host_link) #{theme.host_name}]