meta(charset= 'UTF-8')
title= config.title
meta(name= 'theme-color', content= '#' + theme.color)
meta(name= 'author',content= config.author)
meta(name= 'desciption',content= config.description)
link(rel= 'icon' href= theme.logo)
link(rel= 'stylesheet', type= 'text/css', href= '/tiny.css')