section>a
    display block
    margin 36px 0px
    line-height 26px
  
section>a>h2
    margin 0px
    color #222222
    font-size 36px
    display inline-block
  
section>a>time
    float right
    color #777777
    font-style oblique