main>section>a:only-child
    display block
    margin 2.25rem 0
    padding 0
    line-height 1.625rem

    h2
        margin 0
        color rgb(32, 32, 32)
        font-size 2.25rem
        display inline-block
        
    time
        float right
        color rgb(128, 128, 128)
        font-style oblique