article>h1:first-child
    color #222222
    font-size 48px
  
article>time
    color #777777
    margin-left 16px
    font-style oblique
  
article>h1~span
    margin-left 48px
  
article>h1~span a
    margin 0px 12px
    font-style oblique
  
article h1
    font-size 36px
    
article h2
    font-size 24px
    
article img
    max-width 100%