main>section
    padding 0 2rem

    &>h1
        font-size 2rem
        margin .75rem 0

        &>a
            color rgb(32, 32, 32)

        &~time
            color rgb(128, 128, 128)
            font-size 0.9rem
            font-weight 300
            padding-left 1rem
            font-style italic

        &~span
            margin-left 2rem
            font-size 0.75rem
            font-weight 200

        &~span a
            margin 0 .5rem

    &>article
        font-size 1rem
        font-weight 200
        line-height 2rem

        &~a
            font-size .70rem
            margin .25rem 0
            padding-left 1.25rem
            font-style italic
            font-weight 200

        img
            max-width 100%

    &~p
        margin-top 1.5rem
        margin-bottom 1.5rem

    &~p a
        font-size 1.25rem
        display inline-block

    &~p a:last-child
        float right

    &>hr
        width 10%;
        margin 3rem auto;
        border 0;
        border-top .3rem solid rgb(204, 204, 204);
        border-radius 10rem