section>h1>a
    color #222222
    font-size 48px
  
section>h1~time
    color #777777
    margin-left 16px
    font-style oblique
  
section>h1~span
    display block
    padding 0px 8px
  
section>h1~span img
    width 100%
  
section>h1~span hr
    display none
  
section~p
    margin-top 48px
    margin-bottom 24px
  
section~p a
    font-size 24px
    font-weight border
    display inline-block

section~p a:last-child
    float right