footer
    margin-top 2.25rem

    p
        color rgb(170, 170, 170)
        font-size 0.75rem

        &:first-of-type
            float left

        &:last-of-type
            float right 

    a
        color rgb(170, 170, 170)