header
    padding 0 2.5rem
    margin-top 2.25rem
    margin-bottom 4rem
  
    img
        float left
        width 6.25rem
        height 6.25rem
        margin-left 0.75rem

        &:hover
            cursor wait
    nav
        float right
        margin-right 0.75rem

    & > a
        color #222222
        font-size 2.25rem
        margin-left 2.25rem
        line-height 6.25rem
  
    nav > a
        font-size 1.5rem
        margin 0 0.75rem
        line-height 6.25rem