header
    height 100px
    margin-top 36px
    margin-bottom 64px
  
header img
    float left
    width 100px
    height 100px
    margin-left 12px

header img:hover
    cursor wait
  
header>a
    color #222222
    font-size 36px
    margin-left 36px
    line-height 100px
  
header nav
    float right
    margin-right 12px
  
header nav>a
    font-size 24px
    margin 0px 12px
    line-height 100px