code
    color #222222
    margin 0px 2px
    padding 3px 5px
    border-radius 8px
  background-color #F5F5F5
  
code,pre
    font-family "Source Code Pro", Consolas, Monaco, "DejaVu Sans Mono", monospace;
  
blockquote
    margin 4px 0px
    font-size 14px
    font-style oblique
    padding-left 20px
    border-left 4px solid #AAAAAA
  
.highlight
    margin 4px
    color #777777
    font-size 16px
    overflow-x auto
    border-radius 8px
    padding-left 16px
    padding-right 16px
    background-color #F7F7F7
  
.highlight .gutter
    display none