body
    font-family "Nunito", "PingFang SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif !important
    background-color: rgb(247, 247, 247)
    p
        color rgb(49, 49, 49)

a
    color rgb(119, 119, 119)
    text-decoration none

a:hover
    text-shadow 0 0 .15rem rgb(165, 165, 165)

h1,h2,h3,h4,h5,h6
    color rgb(51, 51, 51)

header,main,footer
    margin 0 auto
    max-width 60rem

::selection
    color rgb(196, 196, 196)

::-moz-selection
    color rgb(196, 196, 196)