body
    font-family "San Francisco", "Helvetica Neue", "Noto Sans", Roboto, "Droid Sans", Helvetica, Tahoma, Arial, "Hiragino Sans GB W3", "Hiragino Sans GB", "冬青黑体", "Noto Sans CJK", "Droid Sans Fallback", "WenQuanYi Micro Hei", "文泉驿微米黑", "Microsoft YaHei", "微软雅黑", sans-serif
    background-color rgb(250, 250, 250)
    p
        color rgb(1, 1, 1)

a
    color rgb(100, 100, 100)
    font-weight bolder
    text-decoration none

a:hover
    text-shadow 0 0 .15rem rgb(165, 165, 165)

h1,h2,h3,h4,h5,h6
    color rgb(51, 51, 51)
    font-style italic

header,main,footer
    margin 0 auto
    max-width 60rem

::selection
    color rgb(196, 196, 196)

::-moz-selection
    color rgb(196, 196, 196)