::selection
    color #C4C4C4

::-moz-selection
    color #C4C4C4

body
    font-family 'Droid Sans', 'DejaVu Sans', 'WenQuanYi Micro Hei', 'Arial', '微软雅黑', sans-serif

body p
    color #313131
  
body a
    color #777777
    text-decoration none
  
a:hover
    text-shadow 0px 0px 2px #A5A5A5
  
h1,h2,h3,h4,h5,h6
    color #333333
  
header,main,footer
    margin 0px auto
    max-width 1000px