@media screen and (max-width: 672px)
    header 
        margin-bottom 0
        text-align center
        img 
            float unset
            display block
            margin 0 auto
        &>a
            margin 0 auto
        nav
            float unset
            margin 0 auto
    
    main>section
        &>h1
            text-align center
            &~time
                padding-left 0
                text-align center
                display block
            &~span
                margin 1rem auto
                display block
                text-align center
        &~p
            padding 0 2rem
    
    footer
        text-align center
        p

            &:first-of-type
                float unset

            &:last-of-type
                float unset 